{% extends "frontend.html.twig"%}
{% block body %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/css/materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/fonts/Roboto') }}">
        <link rel="stylesheet" href="{{ asset('public/js/materialize.js') }}">
        <link rel="stylesheet" href="{{ asset('public/js/materialize.min.js') }}">
      
    {% endblock %}

<h2 class="blue-text text-darken-4">{{user.nomcom}}</h2>
{% for flashMessage in app.session.flashbag.get('mensaje')%}
<span class="alert-success">
    {{flashMessage}}
    <hr/>
    </span>
{% endfor %}
<nav>
    <div class="nav-wrapper teal darken-3">
      <div class="col s12">
        <a href="{{asset('home')}}/{{user.id}}" class="breadcrumb">Menu</a>
         <a href="{{asset('perfilpac')}}" class="breadcrumb">Perfil</a>
         <a href="{{asset('eliminarP')}}/{{user.id}}" title="Agregar" class="right"><b>Eliminar cuenta</a>
      </div>
  </nav>
<body>
<div class="container">
    <div class="row" ><b>
    <form class="form-horizontal" role="form"  >
    
        <div class="form-group">
            <label for="usuario">Nombre de Usuario:</label>
            <input type="text" class="form-control" id="nombre" name="nomusr" value={{user.nomusr}} />
        </div>
         <div class="form-group">
            <label for="usuario">Nombre completo:</label>
            <input type="text" class="form-control" id="nomcom" name="nomcom" value={{user.nomcom}} >
        </div>
        <div class="form-group">
            <label for="numafil">Número de afiliación:</label>
            <input type="text" class="form-control" id="usuario" name="numafil" value={{user.numafil}}>
        </div>
         <div class="form-group">
            <label for="numafil">CURP:</label>
            <input type="text" class="form-control" id="curp" name="curp" value={{user.curp}}>
        </div>
         <div class="form-group">
            <label for="numafil">Teléfono:</label>
            <input type="text" class="form-control" id="telefono" name="telefono" value={{user.telefono}} >
        </div>
         <div class="form-group">
            <label for="numafil">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email" value={{user.email}} >
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10" align="center">
        <a align="center" href="{{asset('editarP')}}/{{user.id}}" title="Modificar">Modificar</a>
        </div>
           
        </div>
    </form>
</div>
    </div>
</body>

{% endblock %}

