{% extends "frontend.html.twig"%}
{% block body %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/css/materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/fonts/Roboto') }}">
        <link rel="stylesheet" href="{{ asset('public/js/materialize.js') }}">
        <link rel="stylesheet" href="{{ asset('public/js/materialize.min.js') }}">
    {% endblock %}

<h1>Perfil Asistente Administrador</h1>


{% endblock %}

